@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
.btn_red {
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-flex;
  height: 32rem;
  font-size: 16rem;
  padding: 10rem 24rem;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  border-radius: 4rem;
  background: linear-gradient(90deg, #F00 0.13%, #FE4F4F 0.14%, #F00 94.87%); }

.btn_gray {
  outline: none;
  border: none;
  cursor: pointer;
  color: #fff;
  display: inline-flex;
  height: 32rem;
  font-size: 16rem;
  padding: 10rem 24rem;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  border-radius: 4rem;
  background: linear-gradient(90deg, #C4C4C4 2.26%, #A0A0A0 72.32%); }

.swiper {
  position: relative; }
  .swiper::-webkit-scrollbar {
    display: none; }
  .swiper * {
    user-select: none; }

.swiper-button-prev {
  position: absolute !important;
  left: 160rem !important;
  z-index: 999 !important;
  top: 5050rem !important;
  background-image: url("../img/arrl.png") !important;
  background-repeat: no-repeat;
  background-size: 40rem !important;
  color: transparent !important;
  width: 40rem !important; }

.swiper-button-next {
  position: absolute !important;
  right: 160rem !important;
  z-index: 999 !important;
  top: 5050rem !important;
  background-image: url("/img/arrr.png") !important;
  background-size: 40rem !important;
  background-repeat: no-repeat;
  color: transparent !important;
  width: 40rem !important; }

.swiper-slide {
  height: 100% !important; }

@font-face {
  font-family: "GothamPro";
  src: url("../fonts/gothampro_medium.ttf");
  font-weight: normal;
  font-style: normal; }
body {
  background: #fff; }

* {
  font-size: 18rem;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0; }

.header {
  position: fixed;
  z-index: 999999;
  width: 100%;
  background: #fff;
  box-shadow: 0 4rem 20rem rgba(0, 0, 0, 0.08);
  padding-top: 16rem;
  padding-bottom: 10rem; }
  .header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header_item {
    display: flex;
    align-items: center;
    gap: 14rem;
    color: #676767; }
    .header_item img {
      width: 20rem;
      height: 20rem; }
    .header_item--gap {
      display: flex;
      align-items: center;
      gap: 30rem; }
      .header_item--gap_2 {
        display: flex;
        align-items: center;
        gap: 60rem; }
      .header_item--gap_3 {
        display: flex;
        align-items: center;
        gap: 20rem; }

.container {
  width: 1380rem;
  margin-inline: auto; }

svg {
  width: 20rem;
  height: 20rem; }

.logo {
  width: 133rem;
  height: 40rem; }

.main_info {
  position: relative;
  background: url("../img/bg1.png");
  height: 700rem;
  background-size: cover;
  padding-top: 135rem; }
  .main_info--title_main {
    font-family: "GothamPro";
    width: 642rem;
    color: #404040;
    font-size: 36rem;
    font-weight: 400;
    line-height: 54rem;
    letter-spacing: -0.36rem;
    text-transform: uppercase; }
  .main_info--title_add {
    height: 173rem;
    display: flex;
    align-items: center;
    width: 471rem;
    padding-left: 49rem;
    color: #676767;
    font-weight: 400;
    line-height: 28rem;
    border-left: 2rem solid #a8a8a8; }
  .main_info--drop {
    position: relative;
    border-radius: 8rem;
    background: #FFF;
    box-shadow: 0 4rem 20rem 0 rgba(0, 0, 0, 0.08);
    padding: 21rem;
    padding-right: 32rem;
    color: #676767;
    font-weight: 600;
    line-height: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999999; }
    .main_info--drop_text {
      width: 424rem; }
    .main_info--drop_flex {
      display: flex;
      align-items: center;
      gap: 29rem; }
    .main_info--drop_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15rem 30rem;
      border-bottom: 1rem solid rgba(103, 103, 103, 0.5);
      text-decoration: none; }
      .main_info--drop_item:last-child {
        border-bottom: 0; }
      .main_info--drop_item--img {
        width: 42rem;
        height: 42rem; }
      .main_info--drop_item--arr {
        width: 24rem;
        height: 24rem; }
        .main_info--drop_item--arr_mini {
          width: 16rem;
          height: 16rem; }
      .main_info--drop_item--text {
        color: #676767;
        font-weight: 600;
        line-height: 28rem;
        width: 457rem; }
      .main_info--drop_item--flex {
        display: flex;
        gap: 40rem;
        align-items: center; }
    .main_info--drop img {
      width: 68rem;
      height: 70rem; }
  .main_info--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start; }
    .main_info--grid:nth-child(2) {
      margin-top: 68rem;
      gap: 30rem; }
  .main_info--blur {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 165rem;
    background: linear-gradient(180deg, rgba(231, 231, 231, 0) 0%, #E7E7E7 100%); }
  .main_info--wheel {
    position: absolute;
    right: 39rem;
    top: 35rem;
    width: 700rem;
    height: 744rem;
    background: url("../img/wheel.png");
    opacity: 0.6;
    z-index: -1;
    background-size: 700rem 744rem; }

.main_info--drop_content {
  position: relative;
  margin-top: -10rem;
  padding-top: 10rem;
  background: #fefefe;
  border-radius: 0 0 11rem 11rem;
  z-index: 999998;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  transition: 0.2s;
  visibility: hidden;
  opacity: 0; }

.btn_red--round {
  background: url("../img/btn.png");
  width: 40rem;
  height: 40rem;
  background-size: cover;
  border: none;
  outline: none; }

.main_info--hover:hover .main_info--drop_content {
  visibility: visible;
  opacity: 1; }

.main_miss {
  position: relative;
  background: url("../img/bg2.png"), lightgray 1px -349.414px/99.948% 257.291% no-repeat;
  height: 561rem;
  width: 100%;
  background-size: 100%; }
  .main_miss--blur {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%; }
  .main_miss--bg2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: -10rem;
    right: 0;
    width: 100%;
    height: 100%; }
  .main_miss--title {
    color: #78858A;
    font-size: 20rem;
    font-family: "GothamPro";
    line-height: 32rem;
    text-transform: uppercase; }
  .main_miss--index {
    z-index: 9;
    position: relative; }
  .main_miss--info {
    margin-top: 34rem;
    color: #78858A;
    font-family: "GothamPro";
    font-size: 32rem;
    line-height: 48rem;
    text-transform: uppercase;
    width: 635rem; }
  .main_miss--logo {
    position: absolute;
    bottom: -3rem;
    left: 27rem;
    width: 991rem; }

.main_services {
  margin-top: 205rem;
  margin-bottom: 180rem; }
  .main_services--title {
    color: #404040;
    font-family: "GothamPro";
    font-size: 36rem;
    line-height: 54rem;
    text-transform: uppercase; }
  .main_services--desc {
    margin-top: 53rem;
    color: #404040;
    font-size: 24rem;
    font-weight: 500;
    line-height: 32rem; }
    .main_services--desc_big {
      margin-top: 83rem; }
  .main_services--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 30rem;
    margin-top: 55rem; }
    .main_services--grid img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 167rem;
      height: 175rem;
      object-fit: cover; }
    .main_services--grid .text {
      position: absolute;
      top: 32rem;
      left: 32rem;
      color: #676767;
      font-weight: 600;
      line-height: 28rem;
      width: 261rem; }
  .main_services--item_light {
    position: relative;
    border-radius: 8rem 8rem 0 0;
    border-bottom: 6rem solid #ED1919;
    background: #F0F0F0;
    width: 100%;
    height: 249rem; }
  .main_services--item_dark {
    position: relative;
    border-radius: 8rem 8rem 0 0;
    border-bottom: 6rem solid #ED1919;
    background: linear-gradient(150deg, #78858A 14.67%, rgba(255, 255, 255, 0) 182.89%);
    width: 100%;
    height: 249rem; }
    .main_services--item_dark .text {
      color: #fff; }

.main_useful {
  background: url("../img/bg3.png") #313641;
  background-size: cover;
  width: 100%;
  padding-bottom: 41rem;
  padding-top: 121rem; }
  .main_useful--title {
    color: #F0F0F0;
    font-family: "GothamPro";
    font-size: 36rem;
    line-height: 54rem;
    text-transform: uppercase;
    padding-bottom: 149rem; }
  .main_useful--grid {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 200rem; }
    .main_useful--grid img {
      width: 547rem; }
    .main_useful--grid_title {
      color: #fff;
      font-size: 24rem;
      font-weight: 500;
      line-height: 32rem; }
    .main_useful--grid_info {
      margin-top: 35rem;
      color: #fff;
      font-size: 16rem;
      font-weight: 400;
      line-height: 32rem;
      width: 608rem; }
      .main_useful--grid_info b {
        color: #ED1919;
        font-weight: 500; }

.main_news {
  background: linear-gradient(180deg, #E7E7E7 83.67%, rgba(231, 231, 231, 0) 101.94%);
  width: 100%;
  padding-top: 122rem;
  padding-bottom: 236rem; }
  .main_news--title {
    color: #404040;
    font-family: "GothamPro";
    font-size: 36rem;
    line-height: 54rem;
    text-transform: uppercase;
    margin-bottom: 80rem; }
  .main_news--grid {
    margin-top: 90rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem; }
    .main_news--grid img {
      width: 100%; }
  .main_news--item img {
    width: 100%; }
  .main_news--item_title {
    color: #404040;
    font-size: 24rem;
    font-weight: 500;
    line-height: 32rem;
    margin-bottom: 31rem; }
  .main_news--item_info {
    color: #676767;
    line-height: 28rem;
    font-weight: 400; }
  .main_news--white {
    padding: 35rem 50rem;
    background: white;
    width: calc(100% - 100rem);
    margin-top: -10rem;
    border-radius: 0 0 8rem 8rem; }

.main_company {
  background: white;
  padding-bottom: 241rem; }
  .main_company--title {
    margin-top: 31rem;
    color: #404040;
    font-family: "GothamPro";
    font-size: 36rem;
    line-height: 54rem;
    text-transform: uppercase;
    margin-bottom: 73rem; }
  .main_company img {
    width: 100%;
    user-select: none;
    pointer-events: none; }

.footer {
  position: relative;
  background-image: url("../img/f1.png");
  height: 100%;
  padding-top: 93rem; }
  .footer_flex {
    position: relative;
    display: flex;
    padding-bottom: 119rem; }
    .footer_flex--item {
      padding-bottom: 73rem; }
      .footer_flex--item_logo {
        width: 133rem;
        height: 40rem; }
      .footer_flex--item_sublogo {
        margin-top: 34rem;
        color: #676767;
        font-size: 16rem;
        line-height: 24rem;
        text-transform: uppercase;
        width: 246rem; }
      .footer_flex--item_title {
        color: #404040;
        font-size: 16rem;
        font-weight: 600;
        line-height: 28rem;
        display: block;
        text-decoration: none; }
      .footer_flex--item_subtitle {
        margin-top: 22rem;
        color: #676767;
        font-size: 16rem;
        font-weight: 400;
        line-height: 24rem;
        display: block;
        text-decoration: none; }
        .footer_flex--item_subtitle--td {
          border-bottom: 1px solid #676767; }
  .footer_f2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%; }
  .footer_snets {
    position: absolute;
    right: 320rem;
    top: 290rem;
    background: url("../img/snets.png"), lightgray -17px -0.289px/113.281% 100.963% no-repeat;
    mix-blend-mode: darken;
    width: 128rem;
    height: 60rem;
    background-size: 128rem 60rem; }
  .footer_water {
    position: relative;
    padding-bottom: 15rem;
    color: #676767;
    font-size: 14rem;
    font-weight: 400;
    line-height: 24rem;
    text-align: center; }

/*# sourceMappingURL=style.css.map */
